#content-principal .box{
    height: inherit;
}
.row{
  margin: 0px !important;
}
.label-azul{
	color: #00afe5;
}
.card{
	padding: 0px;
}
/*#contentAccordion{
    padding-left: 3rem;
}*/
#contentAccordion .card-header h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#contentAccordion .card-header{	
	padding: 15px;
}
#contentAccordion .card-header textarea, #contentAccordion .card-header h2{
	margin: 0px;
}
.card-header h2 input{
	font-size: 1.3rem;
}

.input-border{
    background: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0px;
}
.input-border:focus{
	box-shadow: none;
}
.btn{
	margin-bottom: 0px;
}
.div_btn{
	border: 1px solid #00afe5;
    border-radius: 5px;
    padding: 0;
    display: flex;
    flex-direction: column!important;
    width: 47px;
    padding: 5px;
}
.div_btn .btn{
	padding: 5px;
}
.btn-default.active, .btn-default.active.focus{
	background: #00afe5;
    color: white;
}
.activeCard{
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}
.activeCard > .card-header, .activeGrafica, .activeGlobal, .activeGrupo{
	box-shadow: inset 3px 0 0 #2670B8;
}

/*.btn-div .btn-add{
	background: transparent;
    border: 1px solid #00afe5;
    color: #00afe5;
}
.btn-div .btn-trash{
	background: transparent;
    border: 1px solid red;
    color: red;
}*/

.input-group-addon{
    padding: 0px;
    background-color: white;
}
.input-group-addon select{
    border: none;
}
.param_{
    border: none;
}

.mt-1{
  margin-top: 1rem;
}
.ml-05{
  margin-left: 0.5rem;
}
/*.panel-default{
    border-color: #2670b8;
}*/
.panel-default>.panel-heading{
    color: #2670b8;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: none;
}
.pl-15{
    padding-left: 15px;
}
.numerador table thead>tr>th>div, .denominador table thead>tr>th>div, .numerador table tbody>tr>td>div, .denominador table tbody>tr>td>div{
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}
.content-grupo{
    padding: 15px;    
}
.content_grupos>tr>td{
    border-top-width: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.content_grupos td>div{
    margin-bottom: 0px;
}

.tab-content .panel-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-content .panel-title >div> select{
  display: block;
 
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.d-flex{
    display: flex;
}
.content_categorias thead>tr>th>input{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.content_categorias thead>tr>th{
    justify-content: space-between;
    align-items: center;

}
.content_categorias thead>tr>th>div{
    margin-left: inherit !important;
    margin-right: inherit !important;
    right: inherit !important;
    left: inherit !important;
}
.collapseInfo{
  padding: 1rem  2rem;
}
.input_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-xs{
  padding: 1px 5px !important;
}
.pr-0{
  padding-right: 0px !important;
}