@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; 
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: #445A68!important;
  background-color: #EFF4FA;
}

/*    MODAL CARGA     */
.modal-carga {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal-carga {
    display: block;
}
.modal-footer {
    border-top: 1px solid #fff; 
}

/*    SOMBRA SENCILLA     */
.shadow{
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}
.no-padding{
  padding: 0 !important;
}
/*COLORES*/
.light-blue{
  color: #47BBFF;
}
.dark-blue{
  color: #468FE4;
}
.green{
  color: #7EBE50;
}
.txt-negrilla{
  color: #4E4E4E;
}
.txt-light{
  color: #A6A6A6;
}
.amarillo{
  color: yellow;
}
.rojo{
  color: red;
}
.rojo-intenso{
  color: #980404;
}
/*BOTONES*/
/*.btn{
  margin-bottom: 20px
}*/
.btn-green{
  background-color: #7EBE50;
  color: #fff;  
  border-radius: 4px !important;
}
.btn-border-dark{
  background-color: transparent;
  border: 1px solid #292838;  
  color: #292838;
}
.btn-border-dark:hover{
  background-color: #292838;
  color: white;
}
.btn-border-light{
  background-color: transparent;
  border: 1px solid #EFF4FA;  
  color: #EFF4FA;
}
.btn-border-light:hover{
  color: #EFF4FA;
}


a{
  color: #a6a6a6;
}
a:hover{
  color: #a6a6a6;
}

.navbardefault {
    background-color: #FEFFFF;
    border-color: #e5e5e5;
    box-shadow: none;
    background-image: none;
    color: #a6a6a6;
}
.navbar-toggle{
  background-color: #ccc;
}
.navbar-brand {
    padding: 15px 24px;
    font-size: 20px;
}
.navbar-brand img{
  height: 27px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 2px;
}

.navbardefault .navbar-nav #user-profile {
    border-left: 2px solid rgb(231, 231, 231);
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbardefault .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

.dropdown-menu {
  width: 100% !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
.dropdown-menu>li>a {
    color: #a6a6a6;
}





.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
    z-index: 10000;
}

.main-menu {
background:white;/*#fbfbfb;*/
border-right:1px solid #e5e5e5;
position:fixed;
top:52px;
bottom:0;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
/*font-size: 14px;*/
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

div.main-menu .fa-2x {
font-size: 2em;
}
div.main-menu .fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


div.main-menu ul,div.main-menu li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,div.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page div.dashboard-menu ul li:hover a,.dashboard-page div.dashboard-menu ul li.active a {
color:#fff;
background-color:#00afe5!important;/*#5fa2db!important;*/
background-image: none;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

.sidebar-nav li:last-child a {
    background: #468FE4 !important;
    color: #f8f8f8 !important;
}
#wrapper-principal{
  margin-top: 50px;
  padding-right: 0px !important;
  padding-left: 60px !important;
}
#wrapper-principal .principal-padding{
  padding-top: 15px;
  padding-left: 15px;/*100px;*/
  padding-bottom: 15px;
  padding-right: 15px;
}
#content-principal{
   padding: 20px;
   background: #f9f9f9;
   border-radius: 3px;
   -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
   -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
   box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
   position: relative;
}
#content-principal .title{
  margin-bottom: 20px
}
#content-principal .filtro-box, #content-principal .box{
  display: block;
  height: 100%;
  background: #fff;
  padding: 10px 8px;
  outline: 2px solid #eee;
}
#content-principal .box-info span{
  font-size: 16px;
  padding: 10px 15px;
}
.ubicacion #map {
    height: 700px;
    width: 100%;
}

/*vista mensajería*/
#mensajeria .box-title, #newMsj .box-title{
  padding-bottom: 20px;
  padding-left: 0
}
#mensajeria .box-title a{
  margin-bottom: 0px;
}
#mensajeria table tr th{
  background:#468fe4;
  color: #fff; 
  text-align:center;
}
#banco table tr th{
  background:#468fe4;
  color: #fff; 
  text-align:center;
}
#newMsj{}
@media(max-width: 768px){
  .main-menu {
    top:51px;
  }
}

@media (min-width: 992px){
    .ajuste-box{
      padding-left: 0px;
    }
    /*filtro vista ubicacion*/
    .box-btn-filtro{
        padding-top: 27px;
    }
 
}

.btn-add{
  border-radius: 5px !important;
  background: #00afe5;
  padding: 5px 10px;
  color: white;
  margin: 1px;
}
.btn-add:hover{
  background: #468fe4;
  color: white;
}
.btn-trash{
  background: red;
  color: white;
  border-radius: 5px !important;
  padding: 5px 10px;
  margin: 1px;
}
.btn-trash:hover{
  color: white;
  background-color: #980909;
}

.btn-search{
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
}

.btn-eraser{
  background: #ffa501;
  color: white;
  border-radius: 5px !important;
  padding: 5px 10px;
  margin: 1px;
}
.btn-eraser:hover{
  background: #ff6a00;
  color: white;
}

.btn-save{
  background-color: #5dc75d;
  margin: 1px;
  color: white;
}
.btn-save:hover{
  background-color: #428e42;
  color: white;
}
.pl-0{
  padding-left: 0 !important;
}
.px-30{
	padding-right: 30px !important;
	padding-left: 30px !important; 
}
.a_delete:hover, .a_delete:focus{
  color: red;
}
.a_save:hover, .a_save:focus{
  color: #7EBE50;
}
.btn-regresar{
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem !important;
}
.mb-0{
  margin-bottom: 0px !important;
}
.px-0{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center !important;
}
.align-items-center{
  align-items: center !important;
}
.ml-2{
  margin-left: 0.5rem !important;
}
.navbar-toggle .icon-bar{
  background: white;
}
.main-menu .logout>li{
  background: #468fe4;
}
.main-menu .logout>li i, .main-menu .logout>li .nav-text{
  color: white;
}
.px-0{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.py-0{
  padding-top: 0px !important;
  padding-bottom: 0px !important
}
.pr-0{
	padding-right: 0px !important;
}
.pt-15{
	padding-top: 15px;
}
.btn-circle{
  border-radius: 50% !important;
}
.btn-danger{
  background: red;
  border-color: red;
}
.mt-20{
  margin-top: 20px;
}
.mb-0, .info-perfil .btn{
  margin-bottom: 0px !important;
}
.ml-05{
  margin-left: 0.5rem;
}
.box-btn .input-group-addon{
  background: none;
  border: none;
}
.box-btn .input-group-addon label{
  font-weight: normal;
}
.box-btn select{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* BOTONES */
.btn-negro, .btn-blue, .btn-negro:hover, .btn-green:hover, .btn-blue:hover, .btn-danger:hover, .btn-eraser:hover {
  color: white;
}
.btn-negro{
  background: #43425d;  
  border-color: #43425d;
}
.btn-negro:hover{
  background: #292838;
  border-color: #292838;
}
.box-btn{
  display: flex;
  justify-content: flex-end;
}
.btn-blue{
  border-color: #00afe5;
  background: #00afe5;
}
.btn-blue:hover{
  border-color: #468fe4;
  background: #468fe4;
}
.btn-green:hover{
  background: green;
  border-color: green;
}
/* END BOTONES */
.ml-1{
  margin-left: 1rem;
}
.mt-20{
  margin-top: 20px !important;
}
.p-0{
  padding: 0px !important;
}
.mx-0{
  margin-left: 0;
  margin-right: 0;
}
.mx-05{
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}
/* TABLE */
.table-color thead th, .table .obligatorio{
  background-color: #468fe4;
  color: white;
  text-align: center;
}
.table-color tbody{
  background: white;
}
.none-background>th{
  background-color: white !important;
  color: #445A68 !important;
}
.table-responsive{
  overflow-x: inherit;
}
/* END TABLE */
/* PAGINATION */
.pagination li.active a, .pagination li a{
  background: transparent;
  color: #445A68;
}
.pagination li a{  
  border-color: transparent;
}
.pagination li.active a, .pagination>li>a:hover{
  border-color: #7ebe50;
  border-radius: 5px;
}
/* END PAGINATION */

/* BOX SOMBRA */
.box-shadow{
  background: white;
    padding: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
    -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
    box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
}
.box-shadow .btn.tagspan{
  margin-bottom: 5px !important;
}
.box-shadow .btn, .table-color .btn{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
}
.table-color>table>tbody>tr>td:nth-child(1) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.paciente-card a{
	cursor: pointer;
}
.back-blue-light{
	background: #00afe5;
	color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.flex-column {
  flex-direction: column!important;
}
.d-flex {
  display: flex !important;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
body.perfil a.state-risk span {
  border-radius: 50px;
}
body.perfil a.state-risk span.rojo-intenso {
  background-color: #980404;
  color: white;
}
body.perfil a.state-risk span {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}
body.perfil a.state-risk:hover {
  text-decoration: none;
}
body.perfil a.state-risk >span.rojo-intenso {
  background-color: #8a0101;
}
body.perfil a.state-risk >span.rojo {
  background-color: red;
}
.btn-vertical {
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
}
.bootstrap-select > .dropdown-toggle {
      height: 50px;
}
button.btn.dropdown-toggle.btn-default {
  background: white;
    border-color: #00afe5;
}
.row_100 {
  width: 100%;
  margin: auto;
}
    
@media (max-width: 767px) {
  .principal-padding {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .xs-px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #caja-principal .box-pacientes {
    padding: 15px !important;
  }
  #caja-principal .box-pacientes .toggle {
    display: none;
  }
  #caja-principal .box-pacientes #formbuscar {
    width: 100%;
  }
  #caja-principal .box-pacientes #formbuscar #filtrar {
    width: 20% !important;
  }
  .hidden-xs {
    display: none !important;
  }
  .principal-padding.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}