
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
  margin-bottom: 0px;
  /*border-radius: 0px;*/
}

.pagination>li>a, .pagination>li>span{
  color: #b2b2b2;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #468fe4;
  border-color: #468fe4;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#wrapper-principal .box-contador{
    height: 100px;
    background: #f6f7f8;;
    border-bottom: 2px solid rgb(231, 231, 231);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper-principal  .box-contador .line-redred{
  border-left: 4px solid #980403;
  height: 100%
}
#wrapper-principal  .box-contador .line-red{
  border-left: 4px solid red;
  height: 100%
}
#wrapper-principal  .box-contador .line-green{
  border-left: 4px solid green;
  height: 100%
}
#wrapper-principal  .box-contador .line-yellow{
  border-left: 4px solid yellow;
  height: 100%
}
#wrapper-principal .box-contador .line-default {
  border-left: 4px solid #545556;
}
#wrapper-principal  .box-contador  span.numero-all{
  font-size:32px; 
   color: grey
}
#wrapper-principal  .box-contador  span.numero{
  font-size: 31px;
  color: #445A68
}

#caja-principal .filtro {
  border-bottom: 2px solid #eee;
  padding-bottom: 11px;
  margin-bottom: 11px;
  padding-left: 2px;
}
#caja-principal .filtro  div{
  margin-bottom: 5px;
}
.filtro select{  
  width: 100%;
  background: transparent;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
}
#caja-principal .filtro input {
  width: 100%;
  background: transparent;
  padding: 8px;
  border: 1px solid transparent;
  border-bottom: 1px solid #468fe4;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
#caja-principal .filtro .buscar{
  /*border-radius: 16px;
  width: 100%;*/
  background: #7ebe50;
  color: #fff;
}
#caja-principal .filtro .buscar i{
  padding-right: 4px;
}
#caja-principal .filtro .btn-circle-azul{
    background: #468FE4;
    border-radius: 20px;
    border:1px solid #468FE4;
    color: #fff;
}
.btn-circle-azul{
    width: 40px;
    height: 40px;
}
.items-pacientes{
  padding-left: 0px;
  padding-right: 0px;
}
.items-pacientes ul li {
  padding: 0.5em;
  color: #34495e;
}

div.paciente-card{
  display: block;
  height: 100%;
  background: #fff;
  color: #b2b2b2;
  text-align: center;
  padding: 0 8px;
  outline:2px solid #eee;
}
div.paciente-card:hover{
  outline-color: #b2b2b2 !important;
}
.new-indicator{
  float: left;
  margin-top: 7px;
  background-color: #468fe4;
  font-weight: 500;
}
.box-state-indicator{
  text-align: right;
  font-size: 23px;
  padding-right: 6px;
}
.name{
  font-size:16px;
  margin-bottom: 6px;
  color: #445A68
}
.aditional-information{
  font-size: 12px;
  margin-bottom: 0;
  color: #b2b2b2;
}
.aditional-information strong{
  padding-right: 2px
}
.box-buttons{
  margin: 0 -8px;
}
.box-buttons .llamada, .box-buttons .mensaje{
  outline: 1px solid #eee;
  color: #b2b2b2;
  background: transparent;
}
div.paciente-card:hover .box-buttons .llamada{
  background: #7EBE50;
  color: #fff;
  outline: none !important;
}

.box-buttons .whatsapp, .box-buttons .mensaje{
  outline: 1px solid #eee;
  color: #b2b2b2;
  background: transparent;
}
div.paciente-card:hover .box-buttons .whatsapp{
  background: #7EBE50;
  color: #fff;
  outline: none !important;
}

div.paciente-card:hover .box-buttons .mensaje{
  background: #468FE4;
  color: #fff;
  outline: none !important;
}


/*
 * Grid & list styles
 */
#caja-principal .box-pacientes{
  background: white;/*#f9f9f9;*/
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
}

/*item de view*/
.toggle a.on {
  color: #f39c12;
}
.toggle a i.fa-bars {
  transform: translateY(-1px);
}
ul.grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
ul.list {
  display: block;
  list-style-type: none;
  padding-left: 0
}
ul.list .paciente-card{
  padding: 8px 8px 0px 8px !important;
} 
ul.list .paciente-card .list-box .new-indicator{
	margin-top: 0px;
}
ul.list li {
  width: 100%;
}
ul.list li p.img-as{
  display: none;
}
div.list-box{
  display: flex;
  align-items: center
}
div.list-box .aditional-information{
  margin-bottom: 6px;
}
ul.list .box-lista{
  min-height: auto !important;
}
p.description{
  font-size: 12px;
  color: #b2b2b2
}
.ocultar{
  display: none;
}
.ver{
  display: block;
}
.box-mensajes{
  padding: 15px!important;
  background: white;/*#f9f9f9;*/
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
  box-shadow: 0px 2px 12px 0px rgba(166,166,166,0.7);
}
.box-mensajes p.title{
  font-size: 16px;
}
.items-box-mensajes{
  border-bottom: 2px solid #e7e7e7;
  padding: 10px 0px;
}
div.items-box-mensajes:last-child{
   border-bottom: 2px solid #f9f9f9;
}
.items-box-mensajes .description-msj strong{
  color:#445A68;
}
.items-box-mensajes .description-msj p{
  font-size: 13px;
}
@media(min-width: 768px){
  div.list-box p.box-state-indicator{
    width: 10% !important;
  }
  div.list-box p{
    width: calc(90% / 4);
    font-size: 12px !important;
  }
}
@media(max-width: 768px){
  ul.grid li {
    width: 100%;
  }
  div.list-box{
    display: block;
  }
  div.list-box p.box-state-indicator, div.list-box p{
    width: 100%;
  }
}
@media(min-width: 768px) and (max-width: 1200px){
   ul.grid li {
    width: calc(100% / 2);
  }
  .box-lista{
    min-height: 289px;
  }
}
@media(max-width: 992px){
  .btn-circle-azul{
    font-size: 10px;
    width: 27px;
    height: 27px;
  }
  .principal-padding{
    padding-left: 15px;
  }
  .filtro .buscar{
    width: 90% !important;
  }
}

@media(min-width: 1200px){
  ul.grid li {
    width: calc(100% / 3);
  }
  
}
@media(min-width: 1000px){
  /*.description-msj{
    padding-left: 21px !important;
  } */
}
@media(min-width: 1200px) and (max-width: 1600px){
  .box-lista{
    min-height: 289px;
  }
}
@media(min-width: 1600px){
  .box-lista{
    min-height: 275px;
  }
}
#formbuscar {
  width: 50%;
}