.backbox{  
  background-color: #468fe4;
  width: 100%;
  position: absolute;
  transform: translate(0,-50%);
  top:50%;
}

.loginMsg .title,
.signupMsg .title{
  font-weight: bold;
  font-size: 20px;
  color: white !important;
}
p {
	color: white !important;
}
.textcontent{
  color:white;
  margin: 6vh 10px;
}

.login, .signup{
  padding: 20px;
  text-align: center;
}
.login h2,
.signup h2 {
  font-size:20px !important;
}
.inputbox{
  margin-top:30px; 
}
.login input, 
.signup input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2 !important;
  border: none;
  margin-bottom:20px;
  font-size: 12px;
  padding: 0px 8px;
}

/* Fade In & Out*/
.login a {
  font-size:15px;
}
.login a:hover{
	text-decoration: none;
}

.loginMsg, .signupMsg{
  transition: opacity .8s ease-in-out;
}

.visibility{
  opacity: 0;
}

.frontbox{
  background-color: white;
  border-radius: 20px;
}
.txt-light {
    color: #A6A6A6;
}
.label-black {
	color: black !important;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #445A68!important;
    background-color: #EFF4FA;
}

.login_ .btn-border-light {
    background-color: transparent;
    border: 1px solid #EFF4FA;
    color: #EFF4FA;
}
.login_ .btn {
	    border-radius: 4px !important;
	    padding: 6px 12px !important;
    margin-bottom: 20px;
}
.green {
    color: #7EBE50;
}

/* Media querys */

@media(min-width: 769px){
	.frontbox{
	  z-index: 10;
  	  position: absolute;
	  height: 100%;
	  width: 50%;
	  margin-right: 3%;
	  margin-left: 3%;
	  right:0;
  	  transition: right .8s ease-in-out;
	}
	.box-container{
	  /*border:1px solid white;*/
	  width: 600px;
	  height: 350px;
	  position: absolute;
	  top:50%;
	  left:50%;
	  transform: translate(-50%, -50%);
	  display: inline-flex; 
	}
	.moving{
	  right:45% !important;
	}
	.backbox{  
	  height: 80%;
	  display: inline-flex;
	}
	.loginMsg, .signupMsg{
	  width: 50%;
	  height: 100%;
	  font-size: 15px;
	  box-sizing: border-box;
	}
}
@media(max-width: 768px){
	.frontbox{
	  position: absolute;
	  top:40%;
	  transition: top .8s ease-in-out;
	}
	.moving{
	  top:5% !important;
	}
	.backbox{  
	  height: 100%;
	}
	.loginMsg, .signupMsg{
	  font-size: 15px;
	  box-sizing: border-box;
	}
	.signupMsg{
		margin-top: 30vh;
	}
}
@media (max-width: 768px) and (orientation: landscape){
	.frontbox {
		top: 0px !important;
	    height: 90%;
	    width: 47%;
	    margin: 3%;
	    right: 0;
	    transition: right .8s ease-in-out;
	}
	.moving {
	    right: 46% !important;
	}
}

@media (max-width: 768px) and (orientation: landscape){
.loginMsg, .signupMsg {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
}
