ul{
  list-style-type: none;
}
#map {
  height: 400px;
  width: 100%;
}
#container0, #container1 {
  width: 100%;
  height: 400px;
  margin: 0 auto
}
#chartdiv,#chartdiv2,#chartdiv3 {
  width : 100%;
  height  : 500px;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
}
#wrapper-principal {
   /* padding-top: 50px;*/
    padding-left: 59px;
    padding-right: 0px;
}
.box-img{
    background-image: url(../../img/img_perfil_header.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
    background-color:white; 
    /*position: fixed;
    z-index: 1;
    margin-left: -59px;
    padding-left: 47px;
    min-height: 68px;*/
}
.information-patient{
  padding-top: 10px;
}
.information-patient p{
  margin-bottom: 0px;
}

.information-patient .name{
  font-size: 16px;
  color: #445A68;
  font-weight: bold;
  margin-bottom: 0px;
}
.information-patient .adicional{
  font-size: 16px;
  color: #445A68
}

.information-patient .box span{
  color: #445A68;
}
.information-patient button{
  border-radius: 0;
  border:none;
  color: #fff;
}
.information-patient button.llamada{
  background: #7ebe50;
}
.information-patient button.mensaje{
  background: #468fe4;
}
.information-patient .phone{
  padding-left: 10px
}
.information-patient span.label-success{
  padding: .3em .7em .3em;
}
.principal-box{
  padding-bottom: 15px
}
.box-pacientes{
  background: #f9f9f9;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
  box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
}
.box-mensajes{
  background: #fff;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
  box-shadow: 0px 2px 12px 0px rgba(166,166,166,1);
}
.box-title{
  margin-bottom:15px;
  border-bottom: 2px solid #eee
}
.box-title p{
  padding-bottom:20px;
}
.box-title p span.bandera{
  padding:7px;
  background:#468fe4;
  border-radius: 0px;
  font-weight: 100;
}
.nav-tabs > li > a {
  border-radius: 0px 0px 0 0;
}
.modal-footer{
  border-top: none;
}
table.datos-clinicos tr th:first-child{
  width: 30%;
}
table.datos-clinicos tr th{
  background: #468fe4;
  color: #fff;
}
table.datos-clinicos tr th, table.datos-clinicos tr td{
  text-align: center;
}
/*table.datos-clinicos tr td:first-child{
  text-align: left !important;
}*/
table.datos-clinicos tr td.alert-rojo{
  background:red;
  color: #fff;
}
td.btn-box a{
  background: #468fe4;
  color: #fff;
  padding: 2px;
}
td.btn-plus a{
  background: #5cb85c;
  color: #fff;
  padding: 2px;
}
th.btn-plus a{
  background: #5cb85c;
  color: #fff;
  padding: 2px;
}
td.btn-plus a:hover, th.btn-plus a:hover{
  background: #5cb85c;
  color: #fff;
  padding: 2px;
}
.panel-body p:first-child{
  border-top: none;
}
.panel-body p{
  border-top: 2px solid #eee;
}
/*MODAL SCORE*/
.modal-body ul{
  padding-left: 0px;
}
.score-box, .estado-box{
  text-align: center;
}
.score-box p, .estado-box p {
  background: #468fe4;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  font-size: 25px;
  text-align: center;
}
.estado-box p{
  background: transparent !important;
  min-height: 44px;
}
.score-box span, .estado-box span{
  font-size: 18px;
  font-weight: normal;
}
@media(min-width: 768px){
  .information-patient .box{
    border-right: 2px solid #eee;
    padding-top: 5px;
  }
}
@media(min-width: 992px){
  .principal-box {
    padding-top: 87px !important;
}
}
@media(min-width: 990px){
  /* #map{
    margin: 0px 0px 0px -55px;
  }*/
}
@media(min-width: 769px) and (max-width: 990px){
  .principal-box {
    padding-top: 178px;
  }
}
@media(max-width: 768px){
  .information-patient{
    padding-right: 0px;
  }
  .information-patient div{
    padding-right:0px;
    padding-left: 0px; 
  }
  .information-patient .name{
    font-size: 16px
  }
  .information-patient .box{
    padding-left: 0px;
    text-align: left;
    color: #445A68;
  }
  .information-patient .adicional, .information-patient .box,.information-patient .box span, .information-patient .phone{
    font-size: 14px
  }
  .information-patient .adicional{
    margin-bottom: 0px;
  }
  .information-patient button{
    margin-top: 5px;
  }
  .principal-box {
    padding-top: 220px;
  }
  .box-mensajes{
    padding: 0px!important;
  }
}
.info-perfil{
  position: relative;
}
.img-perfil{
  position: absolute;
  z-index: 1;
  top: 2rem;
  margin-left: 45px;
  width: 140px;
}
.img-perfil img{
  border-radius: 10px;
  border: 3px solid white;
}

.box-info{
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.box-info .form-group{
  margin-bottom: 0px;
}
.perfil .principal-box{
  padding-top: 15px !important;
}
.box-title .title{
  color: #a6a6a6;
  margin-bottom: 0px;
}
.pt-2{
  padding-top: 1.5rem !important;
}
.box-content{
  margin-bottom: 20px;
}
#wrapper-principal .principal-padding{
  padding-left: 60px;
  padding: 0px 0px 0px 60px;
}
.box-img>div, .box-info>div{
  padding-left: 200px;
  padding-right: 45px;
}
.pl-45{
  padding-left: 45px;
}
/* CALENDAR */
#calendarContainer, .calendar .year, .calendar .month{
  width: 100%;
}
.calendar{
  display: block;
}
.calendar.small{
  width: auto !important;
  height: auto !important;
}
.calendar .labels{
  padding-left: 10px;
  padding-right: 10px;
}
.calendar .labels > span{
  padding: 10px 0px;
  color: #00afe5;
  font-size: 10px;
}
.calendar .month{
  font-size: inherit;
  color: #a6a6a6 !important;
  padding: 5px;
}
.calendar .days{
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}
.calendar .days>.row{
  margin-right: 0px;
  margin-left: 0px;
}