body, p {
	color: #434040 !important;
}
body {	
	background-color: white;
	font-size: 20px;
}
.btn {
    padding: 18px 30px!important;
    border-radius: 8px !important;
}
.m-auto {
	margin: auto;
}
.m-0 {
	margin: 0px !important;
}
.mt-0 {
	margin-top: 0px !important;
}
.mb-0 {
	margin-bottom: 0px !important;
}
.mb-2 {
	margin-bottom: 2rem !important;
}
.mb-4 {
	margin-bottom: 4rem !important;
}
.mr-0 {
	margin-right: 0px !important;
}
.pr-0 {
	padding-right: 0px !important;
}
.pl-0 {
	padding-left: 0px !important;
}
.p-4 {
	padding: 0px 4rem !important;
}
.d-flex {
	display: flex !important;
}
.d-row {
	display: flow-root;
}
.b-0 {
	bottom: 0px;
}
.l-0 {
	left: 0px;
}
.px-0 {
	padding-left: 0px;
	padding-right: 0px;
}
.align-items-center {
	align-items: center !important;
}
..justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-concnet-between {
	justify-content: space-between;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}

.btn-primary {
	padding: 8px 20px !important;
    border-radius: 5px !important;
    background: #027fcd !important;
    color: white !important;
}
.border-blue{
	border-bottom: 4px solid #0090e9;
    border-radius: 0px 0px 5px 5px;
}
h1, h2, h3, h4, h5, h6, .menu {
	text-transform: none !important;
}
h1 {
	font-size: 72px;
}
h2 {
	font-size: 36px   !important;
}
.py-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.label-white {
	color: white;
}
.label-blue {
	color: #019EFF;
}
.label-green {
	color: #55BF45;
}
.text-underline {
	text-decoration: underline;
}
p {	
	line-height: 1.6em;
}
header p {
	font-size: 22px !important;
}

body header>nav {
	border-top: 5px solid #0090e9 !important;
}
header>nav li {
	padding: 20px !important;
}
header>nav li>a {
	padding: 10px 0px !important;
}
header>nav li>a.active {
	color: inherit !important;
    border-bottom: 2px solid #0090e9 !important;    
}
header>nav li>a.btn {
	padding: 15px !important;
}

.background-light {
	background: #f5f5f5;
}
.btn-white {
	background: white;
	color: black;
	border-color: white;

}
/*INDEX*/
#main-slider  h1 {
	color: #3c4e67;
	font-weight: bold;
}
#main-slider h2 {
	color: #757574 !important;
	font-weight: normal !important;
}
.index .about {
	padding-top: 14rem;
	padding-bottom: 14rem;
}
.testimonios {
	background-color: #E8E8E8;
}
.testimonios .container {	
	padding: 3rem 0px 2rem 0px;
}
#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a small, .nav-pills>li[data-slide-to="1"].active a small, .nav-pills>li[data-slide-to="2"].active a small, .nav-pills>li[data-slide-to="3"].active a small { 
	background: url('../../img/public/linea_testimonios.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 5rem;
    padding-bottom: 5px; 
    color: black;
    font-weight: bold;

}
.nav-pills>li[data-slide-to="0"].active a, .nav-pills>li[data-slide-to="1"].active a, .nav-pills>li[data-slide-to="2"].active a, .nav-pills>li[data-slide-to="3"].active a {
	background: transparent;
}
#myCarousel .nav {
    background: #e8e8e8;
}

.feature .p-4:not(:last-child) {
	border-right: 1px solid grey;
}
.feature p {
	font-size: 13px;
}

.about h2 {
	background: url('../../img/public/linea_seguimiento.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    padding-bottom: 30px;
}
.about p {
	font-size: 17px;
	text-align: justify;
}
.ventajas {
	padding: 50px 0 50px 50px;
}
.ventajas h3>span {
	background: url('../../img/public/linea_seguimiento.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    padding-bottom: 6px;
}
.ventajas ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ventajas ul li {
	background: url('../../img/public/hito.png') no-repeat left center;
	/*height: 30px;*/
	padding-left: 25px;
}
.testimonios h3.titulo {
	background: url('../../img/public/linea_testimonios.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    padding-bottom: 10px;
}
.testimonios {
    background-image: url('../../img/public/img_mujer.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
.testimonios .carousel-inner {
	height: 11vw;
}
.testimonios .carousel-caption {
	top: 0px;
	position: initial;
	display: flex;
    align-items: baseline;
    text-shadow: inherit;
}
.testimonios .carousel-caption p {
	font-size: 18px;
	text-align: left;
}
.testimonios .foto-carousel {
	display: flex;
    align-items: center;
    justify-content: center;
}
.testimonios .nav-pills>li small {
	margin-left: 5px;
}
.lates h4, .lates p {
    background: #e8e8e8;
    padding: 20px 10px 10px;
}
.footer p {
	color: white !important;
}
.btn-blue {
	background: #094671;
	border-radius: 50px !important;
	padding: inherit !important;
}
.btn-blue input {
	background: #094671;
	border-color: transparent;
}
.footer .doble {
	 columns: 2; 
  -webkit-columns: 2; 
  -moz-columns: 2; 
  font-size: 13px;
}
.footer h4 {
	color: white;
}
.btn-blue span {
    background: transparent;
    border: transparent;
    padding: 2px;
}
.btn-blue input{
    border-radius: 50px;
}

.p-0 {
	padding: 0px !important;
}
hr {
	border-top: 1px solid #143e5d;
}
#main-slider {
	background: url('../../img/public/img_Fondo_header.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.hero {
    padding: 0px 22rem;
}
.bootstrap-select .dropdown-toggle .filter-option {
	width: fit-content !important;
}
.bootstrap-select .dropdown-toggle .filter-option {
	    padding-right: 10px !important;
}
.bootstrap-select .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: transparent !important;
	text-align: center !important;
}
.bootstrap-select .dropdown-menu li a {
	text-align: center !important;
}
.scrollup {
    border-radius: 50px;
    border: 1px solid rgb(0, 144, 233);
}
.scrollup i {
	color: #0090e9;
}
#main-slider p {
    line-height: 2.5rem;
}
.hero h2>p {
	font-size: 36px!important;
	line-height: 1em;
    color: white !important;
}

header ul.navbar-nav {
	font-size: 12px;
	font-weight: 700;
}
@media (max-width: 768px) {
	.p-4 {
		padding: 0px 0px !important;
	}
	#main-slider .carousel .item {
		height: initial;
	}
	#main-slider {
	    margin-top: 56px;
	}
	.feature .p-4 {
		border-right: none !important;
	}
	.index .about, #main-slider, .feature, #partner, .ventajas {
	    padding-top: 2rem;
	    padding-bottom: 2rem;
	    padding-left: 2rem;
	    padding-right: 2rem;
	}
	#partner img {
		margin: auto;
	}
	.testimonios .carousel-inner {
	    height: 115vw;
	}
	.testimonios {
	    background-image: none;
	}
	.testimonios>div>div.row {
		width: 100%;
	    margin: 0;
	    padding: 0 4rem;
	}
	.hgroup h2 span {
		    font-size: 14px;
    line-height: 0px;
	}
	ul.social-network {
		text-align: left;
	    padding-left: 0;
    	padding-right: 0;
	}
	.hero {
	    padding: 0px 0rem;
	}
	.hero h2>p {
		font-size: 14px !important;
    	/*line-height: 0rem;*/
	}
	.hero {
		width: 70%;
	}
	.container {
		width: 100%;
	}
	.xs-p-0 {
		padding: 0px;
	}
	#main-slider h1 {
		font-size: 65px;
	}
	.xs-pt-2 {
	    padding-top: 2rem;
	}
	.ventajas {
		padding-right: 0px;
	}
	.xs-pr-2 {
		padding-right: 2rem;
	}
	.lates {
		padding: 2rem;
	}
	.xs-left {
		text-align: left;
	}
	span.what {
		font-size: 14px;
	}
	.xs-mt-2 {
		margin-top: 2rem;
	}
	header ul.navbar-nav>li>a{
		line-height: 0px;
	}
	header ul.navbar-nav>li {
	    padding: 10px !important;
	}
	header ul.navbar-nav.pull-right {
		    float: inherit !important;
	}
}